/* Home page styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: serif;
    background-color: #ffffff;
    color: #36414F;
    display: flex;
    height: 100vh;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    background-color: #b3d9ff;
    margin-top: 30px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.container li {
    margin-top: 7.5px;
}

.container-gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    background-color: #d9d9d9;
    margin-top: 30px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.container-resources {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    background-color: #20D5D5;
    margin-top: 30px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.container-cv {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    background-color: #ccffd9;
    margin-top: 30px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.row {
    display: flex;
}

.row > * {
    flex: 1;
}

.container-gallery .row > * {
    flex: unset;
}

.left {
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}

.right-img {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: -3px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

h1 {
    font-family: serif;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

hr {
    width: 100%;
}

.text {
    width: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.photo {
    width: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
}

.photo figcaption {
    margin-top: 8px;
    font-size: 1em;
}

.text h2 {
    margin-top: 0;
    width: 100%;
}

figure {
    margin: 0;
}

.books {
    margin-top: -5px;
    margin-bottom: 20px;
}

/* Scaling for mobile */
@media screen and (max-width: 600px) {
    .row {
        display: block;
    }

    .row p {
        text-align: center;
    }

    .left,
    .right {
        margin: 0;
    }

    img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    }

    .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #b3d9ff;
    margin-top: 0;
    margin-bottom: auto;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    }

    .container li {
        margin-top: 7.5px;
    }

    .container-gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    background-color: #d9d9d9;
    margin-top: 0;
    margin-bottom: auto;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    }

    .container-resources {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        background-color: #20D5D5;
        margin-top: 0;
        margin-bottom: auto;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
    }

    .container-cv {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        background-color: #ccffd9;
        margin-top: 0;
        margin-bottom: auto;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
    }

    h1 {
        text-align: center;
        font-size: 2em;
    }

    .books {
        margin-top: -5px;
        margin-bottom: 20px;
    }
}

/* Timeline styles */
.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
}

.bullet {
    width: 20px;
    height: 20px;
    background-color: #415360;
    border-radius: 50%;
    position: absolute;
    left: -10px; /* Adjust to position the bullet */
    top: 0;
    z-index: 1; /* Ensure bullet is above the line */
}

.content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 30px; /* Space for the bullet */
}

.content h3 {
    margin: 0 0 5px;
}

.content p {
    margin: 5px 0;
}

/* Connecting line */
.timeline-item::before {
    content: '';
    position: absolute;
    left: 0px; /* Adjust to position the line */
    top: 20px; /* Adjust to position the line */
    width: 2px;
    height: 100%; /* Adjust height to connect to the next item */
    background-color: #415360;
    z-index: 0; /* Place behind the bullet and content */
}

/* Footer */
footer {
    text-align: center;
    display: block;
}

/* Anchors */
a {
    color: #36414F;
}

a:visited {
    color: #36414F;
}

a:hover,
a:active {
    color: navy;
}

/* Hi vis text for enhancing contrast for the visually impaired */
.dark-hi-vis,
.dark-hi-vis a,
.dark-hi-vis a:visited {
    color: #242933;
}