/* Home page styles */
@font-face {
    font-family: 'Conquer';
    src: url('Conquer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: serif;
    background-color: #ffffff;
    color: #415360;
    display: flex;
    height: 100vh;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #e6e6ff;
}

.row {
  display: flex;
}

.column {
  float: left;
  width: fit-content;
  margin-top: 15%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column img {
    max-width: 270px;
    width: auto;
    height: auto;
    border-radius: 8px;
    margin: 15px;
}

h1 {
    font-family: 'Conquer', serif;
    font-size: auto;
    margin-top: 30px;
    margin-bottom: 1rem;
    margin-left: 15px;
}

hr {
    margin-left: 15px;
    margin-right: 15px;
}

.text {
    width: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
}


/* Timeline styles */
.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
}

.bullet {
    width: 20px;
    height: 20px;
    background-color: #415360;
    border-radius: 50%;
    position: absolute;
    left: -10px; /* Adjust to position the bullet */
    top: 0;
    z-index: 1; /* Ensure bullet is above the line */
}

.content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 30px; /* Space for the bullet */
}

.content h3 {
    margin: 0 0 5px;
}

.content p {
    margin: 5px 0;
}

/* Connecting line */
.timeline-item::before {
    content: '';
    position: absolute;
    left: 0px; /* Adjust to position the line */
    top: 20px; /* Adjust to position the line */
    width: 2px;
    height: 100%; /* Adjust height to connect to the next item */
    background-color: #415360;
    z-index: 0; /* Place behind the bullet and content */
}
